*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("https://www.nutfruit.org/images/noticia/1597227233-nuts-and-dried-fruits2.jpeg");
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}

.profile-dassboard{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background:#ffad06;
    padding: 5px;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}



.button-box h1{
    text-align: center;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}


.input-group{
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    
}

.input-group2{
    top:110px;
    position: absolute;
    width: 280px;
    transition: .5s;
    
}


.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.apple{
    height: 200px;
    width: 200px;
}

.logo{
    text-align: center;
}

.logo p{
    color: red;
}

.home{
    margin-left: 490px;
    color: white;
}

.home a{
    color: white;
}


.container-style{
    width: 80%;
    margin: 0 auto;
}

.fixed-header{
    top:0;
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.norecord h1{
    padding-top: 80px;
    padding-left: 800px;
    color: #fff;
}

#myDIV {
    margin: 100px 500px;
    width: 300px;
    height: 50px;
    border: 1px solid white;
    animation: mymove 5s infinite;
    text-align: center;
    color: white;
    text-decoration: double;
  }

  @keyframes mymove {
    50% {border: 15px solid lightblue;}
  }  

  #myDIV p{
      margin-top: 15px;
  }
  .column {
    float: left;
    width: 30%;
    padding: 20px;
    border: 2px solid black;
  }
 
  .column1 {
    float: left;
    width: 50%;
    padding: 20px;
    height: 40%;
    border: 2px solid black;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.profile-label{
    background-color: #999;
    width: 94%;
    padding-right: 10px ;
    position: absolute;
    border: 2px solid black;
}

.new-btn{
    margin-top: 250px;
    text-align: center;
}

.btn1 {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
  }
  
  .btn1:hover {background: #eee;} 
  .success {color: green;}

  .icons1{
      margin-left: 20px;
      border: yellow;
      color: red;
  }
  .icons2{
    margin-left: 25px;
    border: yellow;
    color: blue;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
  }


  /* profile html css */


.padding {
    padding-top: 3rem; 
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 70px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    color: #e0e0e0;
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}