<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {{>look}}
        <div class="centered">
            <h1>Nutrify App</h1>
            <h3>This the nutrtion app where you can track of your daily diet you can update the meal and add new meal set your target calories for the day it show you your progress bar for the meals.</h3>
            <h3>Here i used the Nutrify API for calories count</h3>
        </div>
           
    
    </div>
    
</body>
</html>