<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {{>look}}
        <div class="form-box">
            <div class="button-box">
            <div id="btn1"></div>
            {{>header}}   
        </div>
        
        <form action="/register" method="POST" class="input-group2">
            <p>{{messg}}</p>
            <input type="text" class="input-field"  placeholder="User name" name="username">
            <input type="text" class="input-field" placeholder="First Name" name="firstname" >
            <input type="text" class="input-field" placeholder="Last Name" name="lastname">
            <input type="text" class="input-field" placeholder="Email" name="email">
            <input type="text" class="input-field" placeholder="Mobile no." name="mobile">
            <input type="text" class="input-field" placeholder="Calories per day" name="calories">
            <input type="password" class="input-field" placeholder="Password" name="password">
            <button type="submit" class="submit-btn" >Register</button>
        </form>

        </div>
        
    </div>
    
</body>
</html>
