
<div class="fixed-header">
    <div class="container-style">
    <nav>
        <a href="/profile" >Profile</a>
        <a href="/addmeal" >Add Meal</a>
        <a href="/user_dashboard" >Dashboard</a>
        <a href="/logout" >Logout</a>
        <a>Welocome, {{firstName}} {{lastName}}</a>
        </nav>
    </div>
</div>
    
