
<div class="fixed-header">
    <div class="container-style">
    <nav>
    <a href="/" >Home</a>
    <a href="/login">Sign-In</a>
    <a href="/register">Sign-Up</a>
    <a href="/about">About</a>
    </nav>
    </div>
</div>
    
